################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FullScaffoldSolution/.vs/FullScaffoldSolution/FileContentIndex/267f7457-d9ac-4ac7-a1f5-b008f8e8559b.vsidx
/FullScaffoldSolution/.vs/FullScaffoldSolution/FileContentIndex/775a490b-3e43-4873-9bd8-a9b51f1a9a2e.vsidx
/FullScaffoldSolution/.vs/FullScaffoldSolution/FileContentIndex/5d1b51f9-017b-4a0d-828f-0eafd4fb331f.vsidx
/FullScaffoldSolution/.vs/FullScaffoldSolution/FileContentIndex/cd683fb5-0cb6-4b0b-bbdf-07a83026c3a1.vsidx
/FullScaffoldSolution/.vs/FullScaffoldSolution/FileContentIndex/d69f1fbe-7b20-4b90-9e48-608f0a7b3079.vsidx
/FullScaffoldSolution/.vs/FullScaffoldSolution/FileContentIndex/3003936a-d2e6-417b-93c4-10a1b7986a50.vsidx
/FullScaffoldSolution/.vs/FullScaffoldSolution/FileContentIndex/2d5f52de-3e1b-4dd2-b42b-0776c594b741.vsidx
